<div class="w-full min-h-[360px] relative bg-neutral rounded-md p-5 flex flex-col justify-between space-y-6"
  id="animated-box">

  <div class="bg-white w-[70px] h-[70px] absolute rounded-md overflow-hidden" style="top: -35px; left: 40px;">
    <img [src]="proyecto.icon" class="w-[70px] h-[70px] object-cover" alt="icon">
  </div>


  <h1 class="text-xl text-white">
    {{proyecto.nombre}}
  </h1>

  <p class="text-neutral-content">{{proyecto.descripcion}}</p>
  <div class="flex gap-6">

    @for ( t of proyecto.tecnologias;let i = $index; track i) {
    <div class="animate__animated tooltip tooltip-primary rounded-full h-10 w-10 flex justify-center items-center"
      [ngClass]="{'animate__tada': interval == i}" [attr.data-tip]="t.nombre">
      <img [src]="t.link" class="w-full h-auto" alt="">
    </div>
    }

  </div>
  @if (proyecto.noDisponible) {
  <button class="btn btn-neutral w-full mt-3 opacity-50 cursor-not-allowed" disabled>
    (sitio no disponible)
  </button>
  } @else {
  <a [href]="proyecto.link" target="_blank" class="btn btn-success w-full mt-3"> Visitar sitio web <i
      class="fas fa-chevron-right me-3"></i> </a>
  }


</div>