<div class="h-screen w-full relative">
  <img class="h-full w-full object-cover object-left" src="assets/img/Portada.webp" alt="">
  <div class="absolute top-0 left-0 h-full w-full flex flex-col justify-center p-10"
    style="background-color: rgba(0, 0, 0, 0.4);">
    <div class="lg:w-[500px]">

      <h1 class="lg:text-5xl text-3xl font-semibold">Hola, soy <span
          class="font-bold text-secondary-content">Juan</span>
      </h1>
      <h2 style="margin-bottom: 70px;" class="lg:text-3xl text-2xl font-semibold">
        un excelente
        <span class="text-secondary-content block cd-headline rotate-1">
          <span class="cd-words-wrapper" style="width: 300px;">
            <b class="is-visible" [ngClass]="{'is-visible': interval == 0, 'is-hidden':interval != 0}">Desarrollador</b>
            @defer (on timer(2500)) {

            <b class="is-hidden" [ngClass]="{'is-visible': interval == 1, 'is-hidden':interval != 1}">Jugador</b>
            }
            @defer (on timer(5000)) {

            <b class="is-hidden" [ngClass]="{'is-visible': interval == 2, 'is-hidden':interval != 2}">Humano</b>
            }
          </span>
        </span>
      </h2>
      <p>Soy un <span class="text-secondary-content font-semibold">apasionado</span> desarrollador web fullstack,
        comprometido en
        crear soluciones
        innovadoras que
        satisfagan las
        necesidades de diversos públicos. Mi enfoque se centra en desarrollar herramientas, aplicaciones y servicios que
        sean
        verdaderamente útiles y efectivos. Mi proceso de trabajo se caracteriza por la creatividad, ya que me encanta
        encontrar
        formas originales de abordar los desafíos técnicos. Además, disfruto de la integración de diversas herramientas
        y
        tecnologías para potenciar la funcionalidad y el rendimiento de los productos que desarrollo, y por si te mata
        la curiosidad, <span class="text-secondary-content font-semibold">primoooo</span> es mi apodo desde la
        infacia :)</p>

      <div class="flex justify-start my-5 gap-5">
        <a href="https://www.linkedin.com/in/juan-morales-dev/" target="_blank"
          class="bg-success text-success-content mt-5 rounded-full text-xl w-10 h-10 flex flex-col justify-center items-center">
          <i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/Primooo326" target="_blank"
          class="bg-success text-success-content mt-5 rounded-full text-xl w-10 h-10 flex flex-col justify-center items-center">
          <i class="fab fa-github"></i>
        </a>


        <a href="https://www.instagram.com/eskato.tsx/" target="_blank"
          class="bg-success text-success-content mt-5 rounded-full text-xl w-10 h-10 flex flex-col justify-center items-center">
          <i class="fab fa-instagram"></i></a>
        <a href="https://wa.me/573046282936" target="_blank"
          class="bg-success text-success-content mt-5 rounded-full text-xl w-10 h-10 flex flex-col justify-center items-center">
          <i class="fab fa-whatsapp"></i></a>

      </div>
    </div>
  </div>
</div>
<div class="w-full p-10">

  <div role="tablist" class="tabs tabs-bordered ">
    <a role="tab" class="tab text-xl font-semibold w-full" (click)="changeTab('mis proyectos')"
      [ngClass]="{'tab-active': currentTab() == 'mis proyectos'}">Mis proyectos</a>
    <!-- <a role="tab" class="tab text-xl font-semibold ">Mis
      experiencias</a> -->
    <a role="tab" class="tab text-xl font-semibold w-full" (click)="changeTab('mis herramientas')"
      [ngClass]="{'tab-active': currentTab() == 'mis herramientas'}">Mis
      Herramientas</a>
  </div>

</div>
<div class="w-full p-10">

  @if (currentTab() == 'mis proyectos') {

  <div class="w-full flex justify-center flex-col space-y-20">

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-28 w-full justify-between items-top">
      @for (item of proyectos;let i = $index; track i) {
      <app-card-proyecto [proyecto]="item"></app-card-proyecto>
      }
    </div>

  </div>

  } @if (currentTab() == 'mis herramientas') {
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-28 w-full justify-between items-top">
    @for (item of herramientas;let i = $index; track i) {
    <app-card-herramienta [herramienta]="item"></app-card-herramienta>
    }
  </div>
  }
</div>
<app-footer></app-footer>


<app-modal [isVisible]="currentH() === 'compressor'" (visibleChange)="currentH.set('')" title="Comprime imagenes">
  <app-compressor-img></app-compressor-img>
</app-modal>

<app-modal [isVisible]="currentH() === 'qr'" (visibleChange)="currentH.set('')" containerClass="w-[800px]"
  title="Genera código QR">
  <app-qr-code></app-qr-code>
</app-modal>