<ul class="timeline timeline-snap-icon timeline-compact timeline-vertical w-full">
  <span class="text-sm">April 1, 2024</span>
  <!-- timeline item 1-->
  <li>
    <div class="timeline-middle">
      <span class="bg-primary/20 flex size-4.5 items-center justify-center rounded-full">
        <span class="badge badge-error size-3 rounded-full p-0"></span>
      </span>
    </div>
    <div class="timeline-end ms-2 m-3 w-full rounded-lg">
      <div class="text-base-content pt-0.5 mb-3 font-medium">12 Invoices have been paid</div>
      <p class="mb-2">Invoices have been paid to the company</p>
      <button class="btn btn-sm btn-soft btn-secondary">
        <span class="icon-[tabler--file-type-pdf] text-error"></span>
        invoices.pdf
      </button>
    </div>
    <hr />
  </li>

</ul>